@tailwind base;
@tailwind components;
@tailwind utilities;


.slick-prev:before,
.slick-next:before {
    font-size: 100px !important;
    color: #000 !important;
}

.slick-slide.slick-active.slick-current div img {
    height: 400px !important;
    object-fit: cover;
}

.slick-slide div img {
    width: 350px;
}